<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<title>Detail Resep</title>
<link rel="stylesheet" href="/static/css/resep-style.css">
</head>
<body>

<div class="dark-top">
<button class="dark-toggle" onclick="toggleDarkMode()">
🌙 Dark Mode
</button>
</div>

<div class="detail-container">

    
<a href="/resep-index" class="back">← Kembali</a>

<div id="detail"></div>


</div>

<script src="/static/js/resep-detail.js"></script>
<script src="/static/js/resep-script.js"></script>

</body>
</html>