<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Text Voice App</title>
<link rel="stylesheet" href="/static/css/TTS&STT-style.css">
</head>

<body>

<div class="container">

<h2>AI Text ↔ Voice</h2>
<h3>Aplikasi TTS & STT gratis dengan maksimal 10.000 karakter per bulan.</h3>

<div class="tabs">
<button onclick="showTTS()">Text To Speech</button>
<button onclick="showSTT()">Speech To Text</button>
</div>

<div id="ttsSection">

<textarea id="ttsText" placeholder="Ketik teks..."></textarea>

<div class="player">

<div class="progress-container">
<div id="progress"></div>
</div>

<span id="time">0:00</span>

</div>


<select id="voice">
<option value="CwhRBWXzGAHq8TQ4Fs17">Roger</option>
<option value="EXAVITQu4vr4xnSDxMaL">Sarah</option>
<option value="hpp4J3VqNfWAUOO0d1Us">Bella</option>
<option value="IKne3meq5aSn9XLyUdCD">Charlie</option>
<option value="FGY2WhTYpPnrIDTdsKH5">Laura</option>
</select>

<br>

<button onclick="speak()">Play</button>
<button onclick="stopAudio()">Stop</button>
<button onclick="downloadAudio()">Download MP3</button>

</div>


<div id="sttSection" class="hidden">

<button onclick="startListening()" id="micBtn">🎤 Start Record</button>
<button onclick="stopSTT()">Stop</button>

<textarea id="sttResult" placeholder="Hasil suara..."></textarea>

<button onclick="copySTT()">Copy Text</button>

</div>

<p id="status">Status: Idle</p>

</div>

<script src="/static/js/TTS&STT-script.js"></script>

</body>
</html>
